<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title><%= title %></title>
</head>

<body>
  <h1><%= title %></h1>
  <% if (currentUser && !currentUser.is_admin) { %>
  <%- include('partials/errors.ejs') %>
  <form action="/admin" method="post">
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>
    </div>
    <button type="submit">Become an admin</button>
  </form>
  <% } else if (currentUser) { %>
  <p>You are already an admin. Return to <a href="/">homepage</a>.</p>
  <% } else { %>
  <p>Please <a href="/login">Login</a>, then we can talk about becoming an admin.</p>
  <% } %>
</body>

</html>